/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Fonts - - - - - - - - */
/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Fonts - - - - - - - - */
/* line 3, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/edit_project.scss */
#new-project-form {
  margin-top: 10px;
  padding: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* line 11, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/edit_project.scss */
#edit-project-form {
  margin-top: 10px;
  padding: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
}
/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Fonts - - - - - - - - */
/* line 3, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 90px;
  background-color: #F8F8F8;
}

/* - - - - - - - - Main Nav - - - - - - - - */
/* line 12, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
#navbar {
  background-color: #282F28;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

/* line 18, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
#navbar-brand {
  color: #FFFFFF;
  font-size: 24px;
  height: 60px;
  padding-top: 12.5px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0px;
  margin-right: 10px;
}

/* line 28, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
#navbar-logo {
  display: inline-block;
  /*position: relative;*/
  height: 35px;
  width: 35px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/logo-green-c0152581a64ea8d0ccd23533be6394c9a7ded65d003c41b548de48e947d4a28a.svg);
}

/* line 39, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
#navbar-name {
  position: relative;
  top: -7.5px;
  display: inline-block;
}

/* line 45, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
#navbar-avatar {
  height: 25px;
  width: 25px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  top: -4px;
}

/* line 62, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
#navbar-username {
  display: inline-block;
  position: relative;
  top: -1px;
}

/* line 68, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar .btn {
  margin-top: 13px;
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 79, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.btn {
  border-radius: 3px;
  border: none;
}

/* line 84, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.btn-primary {
  background-color: #769842;
}

/* line 88, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.btn-default {
  background-color: #858585;
}

/* line 92, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar-nav > li {
  height: 60px;
}

/* line 96, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar-nav > li > a {
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 103, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 300;
  color: #A7A7A7;
}

/* line 109, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar-default .navbar-nav > li > a:hover {
  font-size: 14px;
  color: #F8F8F8;
  background-color: #282F28;
}

/* line 115, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar-nav > li > a.btn {
  font-weight: 300;
  color: #FFFFFF;
}

/* line 120, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar-nav > li > a.btn.btn-primary:hover {
  color: #FFFFFF;
  background-color: #546E2D;
}

/* line 125, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
.navbar-nav > li > a.btn.btn-default:hover {
  color: #eeeeee;
  background-color: #5C5C5C;
}

/* line 130, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
iframe {
  border: none;
  background-color: #CCCCCC;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

/* line 136, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/global.scss */
pre {
  font-size: 13px;
  display: block;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #303B28;
  border: 1px solid #303B28;
  border-radius: 4px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background: #303B28;
  color: #e6e1dc;
  color: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-shebang {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-function .hljs-keyword,
.hljs-request,
.hljs-status,
.nginx .hljs-title,
.method,
.hljs-list .hljs-title {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.tex .hljs-command,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label {
  color: #ADC6EF;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-tag .hljs-title,
.hljs-doctype,
.hljs-sub .hljs-identifier,
.hljs-pi,
.input_number {
  color: #e8bf6a;
  color:#769842;
}

.hljs-identifier {
  color: #d0d0ff;
}

.hljs-class .hljs-title,
.hljs-type,
.smalltalk .hljs-class,
.hljs-doctag {
  text-decoration: none;
}

.hljs-constant,
.hljs-name {
  color: #da4939;
}


.hljs-symbol,
.hljs-built_in,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-identifier,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url,
.hljs-attribute {
  color: #6d9cbe;
}

.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  text-decoration: underline;
}



.hljs-params,
.hljs-variable,
.clojure .hljs-attribute {
  color: #d0d0ff;
}

.css .hljs-tag,
.hljs-rule .hljs-property,
.hljs-pseudo,
.tex .hljs-special {
  color: #cda869;
}

.css .hljs-class {
  color: #9b703f;
}

.hljs-rule .hljs-keyword {
  color: #c5af75;
}

.hljs-rule .hljs-value {
  color: #cf6a4c;
}

.css .hljs-id {
  color: #8b98ab;
}

.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #8996a8 !important;
}

.hljs-hexcolor,
.css .hljs-value .hljs-number {
  color: #769842;
}

.hljs-title,
.hljs-decorator,
.css .hljs-function {
  color: #ffc66d;
}

.diff .hljs-header,
.hljs-chunk {
  background-color: #2f33ab;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.diff .hljs-change {
  background-color: #4a410d;
  color: #f8f8f8;
  display: inline-block;
  width: 100%;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.7;
}
/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Fonts - - - - - - - - */
/* line 7, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.page-header {
  border: none;
  height: 32px;
  margin-top: 0px;
}

/* line 14, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.page-header > h3 {
  display: inline-block;
  margin: 0;
}

/* line 19, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.sort-by {
  float: right;
}

/* line 23, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.sort-by > button {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}

/* line 28, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-container {
  padding-bottom: 30px;
}

/* line 34, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-content {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

/* line 42, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-image {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center top;
  margin-bottom: 15px;
}

/* line 50, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-info {
  width: 100%;
}

/* line 56, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-title {
  display: block;
}

/* line 60, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-heart {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 67, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-avatar {
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #F8F8F8;
}

/* line 77, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/projects.scss */
.project-preview-username {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -8px;
}
/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Fonts - - - - - - - - */
/* line 7, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/sessions.scss */
.login-page {
  background-color: #F8F8F8;
}

/* - - - - - - - - Login Form - - - - - - - - */
/* line 13, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/sessions.scss */
#login-form {
  margin-top: 80px;
  padding: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* line 25, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/sessions.scss */
.input-button {
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 32, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/sessions.scss */
.input-button:hover {
  background-color: #546E2D;
}

/* line 36, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/sessions.scss */
.form-control {
  height: 42px;
}

/* line 40, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/sessions.scss */
#login-logo {
  margin: auto;
  height: 70px;
  width: 70px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/logo-grey-2-b0c30f406465030ecdac25b79d8429a02b8f7e06b4281d0f016156ac2c980381.svg);
}
/* - - - - - - - - Colors - - - - - - - - */
/* - - - - - - - - Fonts - - - - - - - - */
/* line 7, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/users.scss */
.signup-page {
  background-color: #F8F8F8;
}

/* line 11, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/users.scss */
#signup-form {
  margin-top: 10px;
  padding: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* line 19, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/users.scss */
#edit-user-form {
  margin-top: 10px;
  padding: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* line 27, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/users.scss */
.form-control {
  height: 42px;
}

/* line 35, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/users.scss */
.input-button {
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 42, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/users.scss */
.input-button:hover {
  background-color: #546E2D;
}

/* line 46, /Users/anniepeng/Desktop/dev/canopy/app/assets/stylesheets/users.scss */
#multipart {
  background-color: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
























