<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h1>About Canopy</h1>
      <p>Super awesome web app that allows web developers to present their projects in an interactive way.</p>
      

      <p><b>Want to get your apps and projects noticed? </b><br> Join our community of developers, get feedback on projects, and reach out for collaborations. Express your processes by sharing code snippets of finished and current projects</p>
      
      <p>
      Canopy is a place to promote, discover, and explore projects made by creative types.</p>
      
      <p>
      Headquartered in San Francisco, CA, Canopy is a project created by students at General Assembly's Web Development Immersive. We aim to be a resource to connect web developers, programmers, engineers, and others who want to show off their work. </p>

      <p>Created by Alex Chan, Zoe Foss, Henry Freel, and Annie Peng &copy; 2015</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      

    </div>
  </div>
</div>
