  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 well">
        <h1>About Canopy</h1>
      
        <p>Canopy is show-and-tell for web developers. When posting code on Github isn't quite enough, share your live projects and explore others' work on Canopy.</p>
        
        <p>
        Headquartered in San Francisco, CA, Canopy is a project created by students at General Assembly's Web Development Immersive. We aim to be a resource to connect web developers, programmers, engineers, and others who want to show off their work. </p>

        <p>Created by Alex Chan, Zoe Foss, Henry Freel, and Annie Peng &copy; 2015</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <center>
        <%= image_tag "alex.jpg", height: '120', width: '120', class: 'img-circle' %><br><br>
        <b><big><u>Alex Chan</b></big><br></u>
        Developer<br>
        <a href="mailto:alex415@gmail.com"><i class="fa fa-envelope-o"></i></a>
        <a href="https://github.com/alex415"><i class="fa fa-github"></i></a>
        </center>
      </div>
      <div class="col-sm-3">
        <center>
        <%= image_tag "logo-grey-2.svg", height: '120', width: '120', class: 'img-circle' %><br><br>
        <b><big><u>Zoe Foss</b></big><br></u>
        Developer<br>
        <a href="mailto:zoejfoss@gmail.com"><i class="fa fa-envelope-o"></i></a>
        <a href="https://github.com/zoejf"><i class="fa fa-github"></i></a>
        </center>
      </div>
      <div class="col-sm-3">
        <center>
        <%= image_tag "logo-grey-2.svg", height: '120', width: '120', class: 'img-circle' %><br><br>
        <b><big><u>Henry Freel</b></big><br></u>
        Developer<br>
        <a href="mailto:henryfreel@gmail.com"><i class="fa fa-envelope-o"></i></a>
        <a href="https://github.com/henryfreel"><i class="fa fa-github"></i></a>
        </center>
      </div>
      <div class="col-sm-3">
        <center>
        <%= image_tag "annie.jpg", height: '120', width: '120', class: 'img-circle' %><br><br>
        <b><big><u>Annie Peng</b></big><br></u>
        Developer<br>
        <a href="mailto:astpeng@gmail.com"><i class="fa fa-envelope-o"></i></a>
        <a href="https://github.com/astp"><i class="fa fa-github"></i></a>
        </center>
        <br><br>
      </div>
    </div>
  </div>