<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h1>About Canopy</h1>
      <p>Super awesome web app that allows web developers to share their live projects in an interactive way.</p>

      <p>Created by Alex Chan, Zoe Foss, Henry Freel, and Annie Peng &copy; 2015 </p>
    </div>
  </div>
</div>
