
/* - - - - - - - - Colors - - - - - - - - */

$primary-color: #769842;
$primary-color-light: #A3C273;
$primary-color-dark: #546E2D;

// $secondary-color: red;
// $secondary-color-light: red;
// $secondary-color-dark: red;

$warning: #D9971D;
$danger: #AA3535;

$grey-light: #F8F8F8;
$grey: #CCCCCC;
$grey-medium: #858585;
$grey-dark:#5C5C5C;
$grey-darkest: #282F28;

$white:#FFFFFF;

/* - - - - - - - - Fonts - - - - - - - - */