
/* - - - - - - - - Colors - - - - - - - - */

$primary-color: #769842;
$primary-color-light: #A3C273;
$primary-color-dark: #546E2D;

$snippet-bg:#303B28;

// $secondary-color: red;
// $secondary-color-light: red;
// $secondary-color-dark: red;

$warning: #D9971D;
$danger: #AA3535;

$grey-lightest: #FAFAFA;
$grey-light: #EDEDED;
$grey: #BBBBBB;
$grey-medium: #666666;
$grey-dark:#383E34;
$grey-darkest: #282F28;

$white:#FFFFFF;

/* - - - - - - - - Fonts - - - - - - - - */