/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* - - - - - - - - Main Nav - - - - - - - - */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#navbar {
	background-color: #282F28;
}

#navbar-brand {
	color: #fff;
	font-size: 24px;
	height: 60px;
	padding-top: 15px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 0px;
	margin-right: 10px;
}

#navbar-logo {
	display: inline-block;
	/*position: relative;*/
	height: 30px;
	width: 30px;
	margin-right: 10px;
	background-size: cover;
	background-position: center;
	background-image: url(/assets/logo-green.svg);
}

#navbar-name {
	position: relative;
	top: -5px; 
	display: inline-block;
}

.navbar .btn {
	margin-top: 13px;
	margin-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	text-transform: uppercase;
}

.btn {
	border-radius: 3px;
	border: none;
}

.btn-primary {
	background-color: #769842;
}

.btn-default {
	background-color: #858585;
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	font-weight: 400;
    color: #A7A7A7;
}

.navbar-default .navbar-nav>li>a:hover {
	font-size: 14px;
    color: #EEEEEE;
    background-color: #282F28;
}

.navbar-nav > li > a.btn {
	font-weight: 300;
	color: #ffffff;
}

.navbar-nav > li > a.btn.btn-primary:hover {
	color: #ffffff;
	background-color: #546E2D;
	/*opacity: .9;*/
}

.navbar-nav > li > a.btn.btn-default:hover {
	color: #eeeeee;
	background-color: #5C5C5C;
	opacity: .9;
}






























