@import 'styles';

#new-project-form {
	margin-top: 10px;
	padding: 40px;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	background-color:$white;
}

#edit-project-form {
	margin-top: 10px;
	padding: 40px;
	border: 1px solid $grey;
	border-radius: $border-radius;
	background-color:$white;
}
