@import 'styles';

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-top: 90px;
	background-color: $grey-light;
}

/* - - - - - - - - Main Nav - - - - - - - - */

#navbar {
	background-color: $grey-darkest;
	// background-color: $primary-color;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

#navbar-brand {
	color: $white;
	font-size: 24px;
	height: 60px;
	padding-top: 12.5px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: -1px;
	margin-right: 10px;
}

#navbar-logo {
	display: inline-block;
	/*position: relative;*/
	height: 35px;
	width: 35px;
	margin-right: 10px;
	background-size: cover;
	background-position: center;
	background-image: image-url("logo-green.svg");
}

#active-page {
	font-weight: 400;
	color: $grey-light;
	// background-color: red;
}

#navbar form {
	padding-right: 10px;
}

#search-bar {
	border-color: $grey-dark;
	margin-top: 5px;
	height: 32px;
}

.form-control:focus {   
  border-color: rgba(118, 152, 66, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(118, 152, 66, 0.6);
  outline: 0 none;
}

#navbar-name {
	position: relative;
	top: -7.5px; 
	display: inline-block;
}

#navbar-avatar {
	height: 25px;
	width: 25px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	position: relative;
	margin:0;
	padding:0;
	margin-right: 8px;
	margin-top:-10px;
	margin-bottom:-10px;
	border-radius: 50%;
	border: 2px solid $white;
	top: -4px;
}

#navbar .navbar-nav .open > a {
	color: $grey-light;
	background-color: $grey-darkest;
}

#navbar-right {
	float: right;
}

#navbar-username {
	display: inline-block;
	position: relative;
	top: -1px;
}

.navbar .btn {
	margin-top: 13px;
	margin-left: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	text-transform: uppercase;
}

.btn {
	border-radius: $border-radius;
	border: none;
}

.btn-primary {
	background-color: $primary-color;
}

.input-button, .btn-primary.active, .btn-primary:active {
    background-color: $primary-color-dark;
}

.btn-default {
	background-color: $grey-medium;
}

.navbar-nav > li {
	height: 60px;
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav > li > a.navbar-action {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default {
	border: none;
    border-color: $grey-darkest;
}

.navbar-default .navbar-nav>li>a {
	font-size: 14px;
	font-weight: 300;
    color: #A7A7A7;
}

.navbar-default .navbar-nav>li>a:hover {
	font-size: 14px;
    color: $grey-light;
    background-color: $grey-darkest;
}

.navbar-nav > li > a.btn {
	font-weight: 300;
	color: $white;
}

.navbar-nav > li > a.btn.btn-primary:hover {
	color: $white;
	background-color: $primary-color-dark;
}

.navbar-nav > li > a.btn.btn-default:hover {
	color: #eeeeee;
	background-color: $grey-dark;
}

#form-submit-button.active, .form-submit-button:active {
	background-color: $primary-color-dark;
}

/* - - - - - - - - Dropdown Menu - - - - - - - - */

.dropdown-menu {
	min-width: 140px;
}

.navbar ul.dropdown-menu {
	background-color: $grey-darkest;
	border-color: $grey-darkest;
}

.navbar ul.dropdown-menu li a {
	font-weight: 300;
	color: $grey;
}

.navbar ul.dropdown-menu li:hover {
	background-color: $grey-dark;
}

.navbar ul.dropdown-menu li a:hover {
	background-color: $grey-darkest;
	font-weight: 400;
	color: $grey-lightest;
}

.navbar ul.dropdown-menu li a:hover > span { color: $grey-lightest; }

.dropdown-menu .divider {
    height: 1px;
    margin: 6px 0;
    overflow: hidden;
    background-color: $grey-dark;
}

/* - - - - - - - - iFrame - - - - - - - - */

iframe {
	border: none;
	background-color: $grey;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

pre {
	font-size: 13px;
    display: block;
    padding: 6px;
  	padding-left: 10px;
  	padding-right: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $snippet-bg;
    border: 1px solid $snippet-bg;
    border-radius: $border-radius;
}

/* - - - - - - - - Media Queries - - - - - - - - */

@media (max-width: 480px) {
  .col-xs-3 {
    width: 100%;
  }
}

@media (max-width: 772px) {
  .project-preview-container {
    width: 187.5px;
  }
}

