// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'styles';

.row {
	margin-top: 0px;

}
.text-center{
	margin-top: 0px;
}

#new-project-form {
	margin-top: 10px;
	padding: 40px;
	border: 1px solid $grey;
	border-radius: 4px;
	background-color:$white;
}

#edit-project-form {
	margin-top: 10px;
	padding: 40px;
	border: 1px solid $grey;
	border-radius: 4px;
	background-color:$white;
}

body {
	// background-color:$grey-light;
}

.input-button {
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.input-button:hover {
	background-color: $primary-color-dark;
}

.form-control {
	height: 42px;
}

