// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'styles';

.login-page {
	background-color: $grey-light;
}

/* - - - - - - - - Login Form - - - - - - - - */

#login-form {
	margin-top: 80px;
	padding: 40px;
	box-shadow: $box-shadow;
	border-radius: $border-radius;
	background-color:$white;
}

.input-button {
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.input-button:hover {
	background-color: $primary-color-dark;
}

.form-control {
	height: 42px;
}

#login-logo {
	margin: auto;
	height: 70px;
	width: 70px;
	margin-bottom: 40px;
	background-size: cover;
	background-position: center;
	background-image: image-url("logo-grey-2.svg");
}